<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="ressources/css/style.css"/>
</head>
<body>
    <insert/>
<script type="text/javascript" src="ressources/js/modal_utils.js"></script>
<script type="text/javascript" src="ressources/js/Orchestrator.js"></script>
<script type="text/javascript" src="ressources/js/RouteBuilder.js"></script>
<script type="text/javascript" src="ressources/js/utils.js"></script>
<script type="text/javascript" src="ressources/js/job_launcher.js"></script>
<script type="text/javascript" src="ressources/js/initialization.js"></script>
<script type="text/javascript" src="ressources/js/dashboard.js"></script>

</body>
</html>

