<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <canvas id="canvas_map" width="1525" height="900"> </canvas>
     <div style = "display:none;">
         <img id="source" src="Mercator-projection.jpg" length="1000" height="800">
     </div>
     <script>
        let canvas = document.getElementById("canvas_map")
        let ctx  = canvas.getContext("2d")
        let img = document.getElementById("source")
        ctx.drawImage(img, 0, 0, canvas.clientWidth, canvas.clientHeight);
        let longitude = 2.321818
        let latitude = 48.826108
        let latRad = latitude*Math.PI/180
        let x = (canvas.clientWidth * (longitude + 180)/360) //- 10
        let mercy = Math.log(Math.tan((Math.PI/4) + (latRad/2)))
        let y = canvas.clientHeight/2 - canvas.clientWidth*mercy/(2*Math.PI)

        ctx.beginPath();
        ctx.fillStyle="#FF4422"
        ctx.arc(x, y, 3, 0, 2 * Math.PI);
        ctx.fill()
     </script>
</body>
</html>